<div id="Masterclass">
<div class="ticket-container">
  <h1>Buy Complete</h1>
  <h2>Ticket Generation</h2>
  <p>It was sent to your email</p>
  <p>Information Ticket:</p>
  <ul>
    <li><strong>Ticket ID:</strong> {{ticket._id}}</li>
    <li><strong>Price Total:</strong> {{ticket.totalPrice}} $</li>
    <li><strong>Time:</strong> {{ticket.dateTime}}</li>
    <li><strong>Email User:</strong> {{ticket.buyerEmail}}</li>
  </ul>
  <div class="cart_btn">
    <button class="btn cart px-auto fin"><a href="/products" class="btn cart" style="margin: 0px; padding:0px; font-weight: 800;">continue shopping</a></button>
</div>
</div>

</div>
    <script>
        // Detectar si la página se está cargando desde el historial (navegador retrocediendo)
        window.addEventListener('pageshow', function(event) {
            if (event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2)) {
                window.location.reload();
            }
        });
    </script>
