<div class="list_container">
         <h1 class="title">Socket.io Products Ecommerce</h1>
        <h2 class="title">Add Product</h2>
        <form id="form">
            <div class="data">

                <label for="title">Title:</label>
                <input type="text" name="title" id="title" required>

                <label for="title">description:</label>
                <input type="text" name="description" id="description" required>

                <label for="price">Price:</label>
                <input type="number" name="price" id="price" required>

                <label for="year">Year:</label>
                <input type="text" name="year" id="year" required>
            </div>
            <div class="data_2">
                <label for="category">Category:</label>
                <input type="text" name="category" id="category" required>

                <label for="imageUrl">ImageUrl:</label>
                <input type="url" name="imageUrl" id="imageUrl" required>

                <label for="stock">Stock:</label>
                <input type="number" name="stock" id="stock" required> 

                <label for="code">Code:</label>
                <input type="text" name="code" id="code" required>   
            </div>
            <div class="data_add">
                <br></br>
                <input type="submit" value="ADD PRODUCT">
            </div>
        </form>
    </div>

    <h2 class="title">List Products</h2>

    <div id="home">

    </div>

<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/js/main.js"></script>


  