<h1>Thank you for your purchase!</h1>
<p><strong>Ticket ID:</strong> {{ticket._id}}</p>
<p><strong>Date and Time:</strong> {{ticket.dateTime}}</p>
<p><strong>Total Price:</strong> {{ticket.totalPrice}} $</p>
<p><strong>Buyer Email:</strong> {{ticket.buyerEmail}}</p>
<img src="https://firebasestorage.googleapis.com/v0/b/sneaker-react-coderhouse.appspot.com/o/logo.png?alt=media&token=46cf10a4-6d2c-4103-bd5b-ebf160e6bf08&_gl=1*e20me6*_ga*MTUxMjU4ODQyNS4xNjk5MDE5MzU3*_ga_CW55HF8NVT*MTY5OTAzNzcxMy4yLjEuMTY5OTAzNzcyOC40NS4wLjA.">
</ul>