<div
  class="card-body p-5 text-center"
  style="text-align: center; height: 600px;"
>
  <h1>{{message}}</h1>
  <a
    href="/products"
    class="text-white-50 fw-bold"
    style="color: black !important;"
  > Let´s Go add Products!</a>
</div>