<section class="gradient-custom forgot-password">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-2 pb-2">
              <form action="/request-password-change" method="post">
                <div class="form-outline form-white mb-4">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control form-control-lg"
                    required
                  />
                  <label class="form-label" for="email">Email</label>
                </div>
                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                >Request Password Change</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>