<div
  class="card-body p-5 text-center"
  style="text-align: center; height: 600px;"
>
  <h1>Registration Error</h1>
  <p>{{message}}</p>
  <a
    href="/register"
    class="text-white-50 fw-bold"
    style="color: black !important;"
  > Let´s Go Register!</a>
</div>